:root {
  --body-bg-color: #444444;
  --nav-bg-color: #292929;
  --header-color: #555555;
  --link-color: #00ECFF;
  --dark-color: #D3D3D3;
}
body {
  background: var(--body-bg-color);
  color: var(--body-bg-color);
}

.bg-nav {
  background-color: var(--nav-bg-color);
}
.site-header .navbar-nav .nav-link {
  font-family:'Courier New';
  color: var(--link-color);
}

.navboxes .active{
    background-color: var(--link-color);
	border-radius:.25rem;
	color: var(--nav-bg-color);
}
.selected{
	color: var(--nav-bg-color);
}
.links{
	color: var(--link-color);
}
.links:hover{
	color: #BBBBBB;
	
}
.darkblue{
	color: var(--dark-color);
	
}
.colorblue{
	color: var(--link-color);
}

#darkblue{
	background-color: var(--dark-color);
	width: 800px;
}

#foot{
	background-color: var(--nav-bg-color);
	
}